:root {
  --bg-horde: #380000;

  --text-color: #ececec;
  //--bg-color: #000b17;
  --bg-color: #fff;
  --navbar-bg: var(--bg-horde);

  // Light Theme (Default
  --bg-color: #fff;
  --text-color: #313131;
  --navbar-color: #ececec;
}

html, body {
  background: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-color, --text-color);

  .navbar-brand a {
    color: var(--navbar-color, --text-color);
    font-weight: bold;
  }
}

.content {
  color: var(--text-color);

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
}

@import "window";
