:root {
  --text-color: #ececec;
  --bg-color: #131313;
  --navbar-bg: #313131;
}

html, body {
  background: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-bg);
  color: var(--text-color);

  .navbar-brand a {
    color: var(--text-color);
  }
}

.content {
  color: var(--text-color);

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
}
