#app {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
  
body, #app {
    -webkit-app-region: drag;
    -ms-overflow-style: scrollbar;
}
  
body, #app {
    overflow: hidden;
}

html {
    background: none;
    overflow: hidden;
}

// Make the following items undraggable (required to make them clickabble).
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="file"],
button,
textarea {
	-webkit-app-region: no-drag;
}

// Window Action Buttons (close, minimize, fullscreen etc.)
.window-actions {
    --inset: 12px;
    position: fixed;
    right: var(--inset);
    top: var(--inset);
    z-index: 250;

    button {
        background: none;
        //border: 1px solid;
        border: none;
        border-radius: 50%;
    }

    svg {
        &.fa-times {
            color: white;
        }
    }
}

// Content
#content {
    --reductions-left: 52px; // InstanceSelector (52).
    background: #000;
    z-index: 20;
    color: var(--text-color);

    position: absolute;
    left: var(--reductions-left);
    top: 52px;
    padding: {
        left: 12px;
    }
    width: calc(100vw - var(--reductions-left));
    height: 100vh;
    opacity: 1;

    &::after {
        position: absolute;
        left: -52px;
        top: 0;
        //width: calc(100vw - var(--reductions-left));
        width: 100vw;
        height: 100vh;
        z-index: -250;

        content: ".";
        text-indent: -9999rem;
        background: var(--theme-bg-image);
        background-size: cover;
        background-position: center;
        opacity: 0.2;
    }
}